* {
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  width: 50%;
  margin: auto;
  box-shadow: 0px 0px 19px rgba(139, 138, 138, 0.158);
  padding: 70px 70px 70px 70px;
  border-radius: 4px;
  border: 1px solid rgba(38, 40, 41, 0.13);

}

form>fieldset {
  padding: 80px 60px;
  border-color: rgba(221, 221, 221, 0.185);
padding-bottom: 30px;
}

form>fieldset h1 {
  text-transform: capitalize;
  font-weight: normal;
}

form p {
  margin: 15px 0;
  overflow: auto;
}

form p >input {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(182, 178, 178, 0.842);
  outline: 0;
}

form p label {
  display: block;
  margin-bottom: 6px;
  font-size: 20px;
  color: #333;
}
p span input{
  display: inline-block;
  padding: 10px 40px;
  font-size: 15px;
  border:1px solid #ddd;
  margin-top: 5px;
  margin-left: 4px;
}
p.btngroup{
  margin-top: 20px;
}
